<h1>
  Edit user #<%= @user.id %>
</h1>

<hr>

<!-- Form user start -->
<form action="/update_user/<%= @user.id %>" method="post">
<!-- Form user end -->

  <!-- Label and input for email start -->
  <div class="form-group">
    <label for="email">
      Email
    </label>

    <!-- Input for email start -->
    <input type="text" id="email" name="email" class="form-control" value="<%= @user.email %>">
    <!-- Input for email end -->
  </div>
  <!-- Label and input for email end -->

  <!-- Label and input for username start -->
  <div class="form-group">
    <label for="username">
      Username
    </label>

    <!-- Input for username start -->
    <input type="text" id="username" name="username" class="form-control" value="<%= @user.username %>">
    <!-- Input for username end -->
  </div>
  <!-- Label and input for username end -->

  <!-- Label and input for password_digest start -->
  <div class="form-group">
    <label for="password_digest">
      Password digest
    </label>

    <!-- Input for password_digest start -->
    <input type="text" id="password_digest" name="password_digest" class="form-control" value="<%= @user.password_digest %>">
    <!-- Input for password_digest end -->
  </div>
  <!-- Label and input for password_digest end -->

  <!-- Label and input for image start -->
  <div class="form-group">
    <label for="image">
      Image
    </label>

    <!-- Input for image start -->
    <input type="text" id="image" name="image" class="form-control" value="<%= @user.image %>">
    <!-- Input for image end -->
  </div>
  <!-- Label and input for image end -->

  <!-- Label and input for bio start -->
  <div class="form-group">
    <label for="bio">
      Bio
    </label>

    <!-- Input for bio start -->
    <textarea id="bio" name="bio" class="form-control" rows="3"><%= @user.bio %></textarea>
    <!-- Input for bio end -->
  </div>
  <!-- Label and input for bio end -->

  <button class="btn btn-block btn-outline-secondary">
    Update user
  </button>
</form>

<hr>

<a href="/users">
  Go back
</a>
