<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      User #<%= @user.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/users" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/users/<%= @user.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit user
        </a>
      </div>

      <div class="col">
        <a href="/delete_user/<%= @user.id %>" class="btn btn-block btn-outline-secondary">
          Delete user
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Email
      </dt>
      <dd>
        <%= @user.email %>
      </dd>

      <dt>
        Username
      </dt>
      <dd>
        <%= @user.username %>
      </dd>

      <dt>
        Password digest
      </dt>
      <dd>
        <%= @user.password_digest %>
      </dd>

      <dt>
        Image
      </dt>
      <dd>
        <img src="<%= @user.image %>" class="img-fluid">
      </dd>

      <dt>
        Bio
      </dt>
      <dd>
        <%= @user.bio %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@user.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@user.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "user_templates/user_photos" %>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "user_templates/user_comments" %>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "user_templates/user_likes" %>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "user_templates/user_check_ins" %>
  </div>
</div>
