<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Photo #<%= @photo.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/photos" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/photos/<%= @photo.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit photo
        </a>
      </div>

      <div class="col">
        <a href="/delete_photo/<%= @photo.id %>" class="btn btn-block btn-outline-secondary">
          Delete photo
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Author
      </dt>
      <dd>
        <% if @photo.author.present? %>
          <a href="/users/<%= @photo.author_id %>">
            <%= @photo.author.email %>
          </a>
        <% end %>
      </dd>

      <dt>
        Comments count
      </dt>
      <dd>
        <%= @photo.comments_count %>
      </dd>

      <dt>
        Likes count
      </dt>
      <dd>
        <%= @photo.likes_count %>
      </dd>

      <dt>
        Location
      </dt>
      <dd>
        <% if @photo.location.present? %>
          <a href="/locations/<%= @photo.location_id %>">
            <%= @photo.location.created_at %>
          </a>
        <% end %>
      </dd>

      <dt>
        Caption
      </dt>
      <dd>
        <%= @photo.caption %>
      </dd>

      <dt>
        Image
      </dt>
      <dd>
        <img src="<%= @photo.image %>" class="img-fluid">
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@photo.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@photo.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "photo_templates/photo_comments" %>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "photo_templates/photo_likes" %>
  </div>
</div>
