<!-- Form photo start -->
<form action="/create_photo_from_location" method="post">
<!-- Form photo end -->

  <!-- Label and input for author_id start -->
  <div class="form-group">
    <label for="author_id">
      Author
    </label>

    <!-- Input for author_id start -->
    <input type="text" id="author_id" name="author_id" class="form-control" value="<%= @photo.author_id %>">
    <!-- Input for author_id end -->
  </div>
  <!-- Label and input for author_id end -->

  <!-- Label and input for comments_count start -->
  <div class="form-group">
    <label for="comments_count">
      Comments count
    </label>

    <!-- Input for comments_count start -->
    <input type="text" id="comments_count" name="comments_count" class="form-control" value="<%= @photo.comments_count %>">
    <!-- Input for comments_count end -->
  </div>
  <!-- Label and input for comments_count end -->

  <!-- Label and input for likes_count start -->
  <div class="form-group">
    <label for="likes_count">
      Likes count
    </label>

    <!-- Input for likes_count start -->
    <input type="text" id="likes_count" name="likes_count" class="form-control" value="<%= @photo.likes_count %>">
    <!-- Input for likes_count end -->
  </div>
  <!-- Label and input for likes_count end -->

  <!-- Label and input for location_id start -->
  <!-- Input for location_id start -->
  <input type="hidden" name="location_id" value="<%= @location.id %>">
  <!-- Input for location_id end -->

  <!-- Label and input for caption start -->
  <div class="form-group">
    <label for="caption">
      Caption
    </label>

    <!-- Input for caption start -->
    <textarea id="caption" name="caption" class="form-control" rows="3"><%= @photo.caption %></textarea>
    <!-- Input for caption end -->
  </div>
  <!-- Label and input for caption end -->

  <!-- Label and input for image start -->
  <div class="form-group">
    <label for="image">
      Image
    </label>

    <!-- Input for image start -->
    <input type="text" id="image" name="image" class="form-control" value="<%= @photo.image %>">
    <!-- Input for image end -->
  </div>
  <!-- Label and input for image end -->

  <button class="btn btn-block btn-outline-secondary">
    Create photo
  </button>
</form>
