<% if @location.errors.any? %>
  <% @location.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit location #<%= @location.id %>
</h1>

<hr>

<form action="/update_location/<%= @location.id %>" method="post" enctype="multipart/form-data">

  <div class="form-group">
    <label for="address">
      Address
    </label>

    <input type="text" id="address" name="address" class="form-control" value="<%= @location.address %>">
  </div>

  <div class="form-group">
    <label for="image">
      Image
    </label>

    <%= cl_image_tag(@location.image.to_s, :width => 90, :height => 90, :crop => :thumb) %>
    <input type="file" id="image" name="image" class="form-control">
  </div>

  <div class="form-group">
    <label for="bio">
      Bio
    </label>

    <textarea id="bio" name="bio" class="form-control" rows="3"><%= @location.bio %></textarea>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update location
  </button>
</form>

<hr>

<a href="/locations">
  Go back
</a>
