<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Check in #<%= @check_in.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/check_ins" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/check_ins/<%= @check_in.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit check in
        </a>
      </div>

      <div class="col">
        <a href="/delete_check_in/<%= @check_in.id %>" class="btn btn-block btn-outline-secondary">
          Delete check in
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Owner
      </dt>
      <dd>
        <% if @check_in.owner.present? %>
          <a href="/users/<%= @check_in.owner_id %>">
            <%= @check_in.owner.email %>
          </a>
        <% end %>
      </dd>

      <dt>
        Location
      </dt>
      <dd>
        <% if @check_in.location.present? %>
          <a href="/locations/<%= @check_in.location_id %>">
            <%= @check_in.location.created_at %>
          </a>
        <% end %>
      </dd>

      <dt>
        Image
      </dt>
      <dd>
        <img src="<%= @check_in.image %>" class="img-fluid">
      </dd>

      <dt>
        Caption
      </dt>
      <dd>
        <%= @check_in.caption %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@check_in.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@check_in.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

